#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  display: flex; /* Sử dụng flex để căn chỉnh dễ dàng */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 100px; /* Chiều cao của vùng chứa logo */
  border-radius: 8px; /* Góc bo tròn */
}

.logo_react {
  height: 60px; /* Chiều cao của hình ảnh logo */
  width: auto; /* Đảm bảo tỷ lệ hình ảnh không bị bóp méo */
  animation: spin 5s linear infinite; /* Thêm hiệu ứng xoay logo */
  cursor: pointer;
}

/* Hiệu ứng xoay logo */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo_react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}